.tags-page{
padding: 55px;
}

.tags-page button{

padding: 5px;
border-radius: 5px;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  color: black;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.tag-item {
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 5px;
  border-radius: 5px;
color: black;
  
}

.tag-item:hover {
  background: #9A48D0;
}
